node_modules
**/node_modules
.pnpm-store
.next
**/.next
out
build
**/dist
**/*.tsbuildinfo
coverage
.git
.github
.gitignore
.DS_Store
Thumbs.db
*.log
.env
.env.*
README.md
docs
packages/n8n-nodes-ajam
packages/db/prisma/*.db
packages/db/prisma/*.db-*
